.display {
    background-color: rgba(190, 170, 170, 0.6);
    grid-column: 1 / -1;
    text-align: right;
    position: relative;
    border: 1px solid black;
}

.display p {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
}